<div id="moon"><div class="shadow"></div></div>
<div id="particles-js"></div>
<div id="fireflies-js"></div>
<div id="story-container" class="container text-center mt-5">
  <h1 class="mb-4">Bedtime Story Reader</h1>
  <div class="input-group justify-content-center mb-3">
    <input
      type="text"
      class="form-control w-auto"
      [(ngModel)]="prompt"
      placeholder="Enter theme for your bedtime story"
    />
    <button class="btn btn-primary" (click)="generate()" [disabled]="loading">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm me-2"
        role="status"
      ></span>
      Generate
    </button>
  </div>

  <div *ngIf="displayedStory" class="text-display animated-story">
    <span
      *ngFor="let word of words; let i = index"
      [class.highlight]="i === currentWordIndex"
    >{{ word }} </span>
  </div>
  <button *ngIf="story" class="btn btn-secondary mt-3" (click)="playStory()" [disabled]="loading">Play Audio</button>

  <div *ngIf="audioUrl" class="mt-4">
    <audio-player
      #player
      [src]="audioUrl"
      (timeUpdate)="onTimeUpdate($event)"
      (ended)="onEnded()"
    ></audio-player>
  </div>
</div>

